<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>nwtis_nikfluks_konf.xml</param-value>
    </context-param>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MeteoSoap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeteoSoap</servlet-name>
        <url-pattern>/MeteoSoap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/prijavljen/pocetna.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>securityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>korisnik</web-resource-name>
            <description>prijavljeni korisnik</description>
            <url-pattern>/faces/prijavljen/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>prijavljeni korisnik</description>
            <role-name>korisnik</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>prijavljeni korisnik</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/faces/neprijavljen/prijava.xhtml</form-login-page>
            <form-error-page>/faces/neprijavljen/pogreska.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>prijavljeni korisnik</description>
        <role-name>korisnik</role-name>
    </security-role>
</web-app>
